In [2]:
from faker import Faker
import pandas as pd
import random

fake = Faker()

data=[]

for i in range(1, 11):
    data.append({
        "id" : i,
        "name" : fake.name(),
        "salary" : random.randint(20000, 80000)
    })


df = pd.DataFrame(data)

print(df)

   id               name  salary
0   1  Victoria Gonzalez   77775
1   2       Connie Scott   36016
2   3       Frank Hughes   66273
3   4    Justin Copeland   41546
4   5       James Harris   47178
5   6         Jay Walker   76113
6   7   Ronnie Maldonado   79687
7   8   Miss Paige Davis   78614
8   9   Gwendolyn Harmon   22540
9  10      Amanda Castro   69953

In [3]:
df["bonus"] = df["salary"] * 0.10

print("employee salary after adding bonus: ")
print(df)

employee salary after adding bonus:
   id               name  salary   bonus
0   1  Victoria Gonzalez   77775  7777.5
1   2       Connie Scott   36016  3601.6
2   3       Frank Hughes   66273  6627.3
3   4    Justin Copeland   41546  4154.6
4   5       James Harris   47178  4717.8
5   6         Jay Walker   76113  7611.3
6   7   Ronnie Maldonado   79687  7968.7
7   8   Miss Paige Davis   78614  7861.4
8   9   Gwendolyn Harmon   22540  2254.0
9  10      Amanda Castro   69953  6995.3

In [6]:
high_salary = df[df["salary"] > 50000]

print("salary greater than 50000 are : ")
print(high_salary)

salary greater than 50000 are :
   id               name  salary   bonus
0   1  Victoria Gonzalez   77775  7777.5
2   3       Frank Hughes   66273  6627.3
5   6         Jay Walker   76113  7611.3
6   7   Ronnie Maldonado   79687  7968.7
7   8   Miss Paige Davis   78614  7861.4
9  10      Amanda Castro   69953  6995.3